<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Om</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <ul class="menu">
            <li><a href="/">Hem</a></li>
            <li><a href="/addCourses">Lägg till kurser</a></li>
            <li><a href="/about">Om</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <section class="about">
          <h2>Om webbplatsen</h2>
          <p>
            Den här webbplatsen har i syfte att kunna lagra samt visa kurser som
            jag hittills har läst under min tid i webbutvecklingsprogrammet på
            Mittuniversitetet.
          </p>
          <br />
          <p>
            Jag har använt Express för att bygga webbservern och kommunicera med
            databasen. EJS har använts för att generera dynamsikt HTML-innehåll.
            Jag har även under utveckling använt Nodemon för att få tydligare
            error- meddelanden.
          </p>
          <br />
          <p>
            Jag har använt SQLite som databas. Den skiljer sig lite från en
            traditionell databas-server då den är inbäddad direkt i en fil i
            applikationen. Det är mer av en databas-motor.
          </p>
          <br />
          <br />
          <p>
            Jag tycker detta moment har varit väldigt kul. Det är för mig
            tydligt att när man behärskar denna kunskap så kan man börja bygga
            riktigt användbara och intressanta applikationer. Så ser mycket fram
            emot att bli bättre på detta.
          </p>
        </section>
      </main>
      <footer>
        <p>&copy;Andreas Nygård, 2024</p>
        <p>
          <a href="mailto:anny2301@student.miun.se">anny2301@student.miun.se</a>
        </p>
      </footer>
    </div>
  </body>
</html>
