<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hem</title>
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/addCourses">Lägg till kurser</a></li>
            <li><a href="/about">Om</a></li>
          </ul>
        </nav>
      </header>
    </div>
  </body>
</html>
